

.main_home_page_container{
    width: 100%;
    display: flex;
}

.right_side_home_page{
    /* background-color: red;
    margin-left: 5px; */
    min-width: 83%;
}

.remaining{
    width: 100%;
    background: #121212;
    min-height: 95vh;
    height: max-content;
}