.main_create_container {
  width: 85%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-user-select: none;
}

.main_create_container_new_conatiner_live_demo {
  box-sizing: border-box;
  padding-right: 20px;
  padding-top: 40px;
  width: 47%;
  margin: unset;
}

.create_service_outside_wrapper {
  align-items: flex-start;
  display: flex;
  margin-left: 6%;
  position: relative;
  width: 100%;
}

/* text type in create ---------------------------------------- */

.create_text_01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #f8f8f8;
  margin-bottom: 5px;
}

.create_text_02 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #d0d0d0;
}

.create_text_03 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.create_text_04 {
  color: #9a9a9a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.create_speaker_toggle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #9a9a9a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.speaker_switch {
  background-color: white;
  height: 28px;
  width: 28px;
}

.create_speaker_toggle_spacing {
  width: 100%;
  min-height: 323px;
}

.create_speaker_toggle_spacing0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 36px;
  gap: 12px;
}
.close_button_modal_speaker {
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.main_box_1_create_form {
  gap: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.main_box_1_create_form1 {
  margin-top: 30px;
  gap: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.map_speaker_details_field_inside {
  gap: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.map_speaker_details_field_inside_frame {
  width: 100%;

  gap: 20px;

  display: flex;
  flex-direction: column;
}

/* heading section in create  -------------------------------- */

.heading_create_box {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.heading_create_box > button {
  padding: 12px 24px;
  color: #1e293b;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 4px;
  border: 1px solid #1e293b;
  background-color: white;
}

.heading_create_box > button:hover {
  background-color: rgb(237, 237, 237);
}

/* form section create ---------------------------------------- */

.create_form_box {
  /* display: grid;
    grid-template-columns: repeat(2,1fr); */
  gap: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.create_form_box_event {
  /* display: grid;
    grid-template-columns: repeat(2,1fr); */
  gap: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.left_section_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 47%;
  /* gap: 15px; */
}

.min-heightfield {
  min-height: 37px;
}
.left_section_form > div {
  margin-bottom: 40px;
}
.map_speaker_details_field {
  width: 100%;
}

.right_section_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 47%;
  gap: 15px;
}

.right_section_form > div {
  margin-bottom: 30px;
}

/* advanced control area ------------------------------------ */

.adanced_remote_control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 13px 0;
}

.adanced_remote_control > span {
  cursor: pointer;
}

/* advanced section --------------------------------------------------- */

.advanced_custom_mode_create {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  margin-top: 30px;
}

.advanced_custom_mode_create > section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  margin-top: 30px;
}

/* buttons section -------------------------- */

.buttons_form {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  gap: 44px;
}

.ultimatewrapper_defaultbanner {
  width: 90%;
  height: 59%;
  margin: 10vh auto;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 10px;
  overflow: hidden;
}
.container_defaultbanner {
  height: 85vh;
  width: 92vw;
  margin-right: 30vw;
}

/*** IMAGE RESIZE ****/

.imageresize_container {
  width: 100vw;
  height: 100vh;
}
.closebutton_imageresize {
  font-size: 30px;
  position: absolute;
  right: 20px;
}

.imageresize_cropper {
  height: 85%;
  max-height: 85%;
}
.imageresize_buttons {
  height: 15%;
  padding-bottom: 5vh;
  margin: 20px;
}
.buttons_imageresize {
  margin-right: 5vw;
}
.container_imageresize {
  height: 90vh;
  width: 62vw;
  margin-right: 30vw;
}

.container-cropper {
  height: 70%;
}

.cropper {
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.slider {
  height: 10%;
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
}

.container-buttons {
  height: 12%;
  display: block;
}

.slider-imagecrop {
  width: 100%;
  display: flex;
  padding-top: 2vh;
  gap: 2vw;
  justify-content: center;
  background-color: rgb(226, 226, 226);
}
.ultimatewrapper_imageprev {
  width: 62%;
  height: 79%;
  margin: 10vh auto;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 10px;
  overflow: hidden;
}
.slider-imagecrop-wrap {
  width: 60%;
}

.button-preview {
  display: flex;
  padding-top: 2vh;
  padding-bottom: 1.5vh;
  background-color: rgb(226, 226, 226);
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.button-preview > button {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: black;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.button-preview > button:hover {
  background-color: red;
}

.imageshower {
  max-width: 300px;
  max-height: 300px;
}

.imaaaaaaaaa {
  width: 900px;
  height: 300px;
}
.warningspan_imagepreview {
  display: block;
  text-align: center;
  font-size: 12px;
  width: 100%;
  background-color: rgb(226, 226, 226);
  padding-bottom: 2vh;
  color: red;
}

.span_create_event_input {
  color: #888;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

@media (max-width:600px){


  .create_service_outside_wrapper{
    margin: unset;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .main_create_container_new_conatiner_live_demo{
    width: 92%;
    padding: unset;
  }

  .buttons_form{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #121212;
    margin: unset;
    padding: 20px 4%;
    box-sizing: border-box;
  }

  .buttons_form > div{
    width: 100%;
  }

  .create_form_box{
    padding-bottom: 100px;
    padding-top: 20px;
  }

  /* event side css ---- */

  .create_speaker_toggle{
    font-size: 12px;
  }

  .create_text_04{
    font-size: 12px;
  }
}