.sample_page_wrapper {
  width: 100vw;
  height: 100vh;
  background: #121212;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.main_header_component_event_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always; /* Stop on each item's snap point */
  padding-bottom: 40px;
  box-sizing: border-box;
  padding: unset;
}

.main_title_event_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.main_title_event_box > h1 {
  color: #fff;
  text-align: center;
  font-size: 82px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  width: 78%;
  line-height: 92px;
  text-transform: lowercase;
}


.main_title_event_box > span {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_title_event_box > p {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_title_event_box > button {
  border-radius: 100px;
  background: #fff;
  padding: 24px 40px;

  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;

  cursor: pointer;
}

.main_title_event_box > button:hover {
  background: rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.sample_page_wrapper::-webkit-scrollbar{display: none;}


.productHunt_floater_landing_page{
  position: fixed;
  right: 50px;
  bottom: 50px;
}

@keyframes updownarrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.sample_page_hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100vh;
}

.benefits_sample_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  height: 85%;
  width: 100%;
}

.benefits_sample_page > h2 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  line-height: normal;
  width: 40vw;
  margin-top: 40px;
}

.benefits_sample_page > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 78vw;
  height: 90%;
}

.sample_page_divison_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 78vw;
  margin: 0 auto;
  height: 90%;

  position: relative;
}

/* sample page fonts and buttons  */

.header_sample_page01 {
  color: #f8f8f8;
  font-size: 40px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  line-height: normal;
}

.header_sample_page02 {
  color: #d0d0d0;
  text-align: center;
  font-size: 24px;
  font-family: "Gilroy-Regular", sans-serif;
  font-style: normal;
  line-height: normal;
  text-align: left;
  max-width: 60vw;
}

.button_sample_page01 {
  padding: 20px 40px;
  border-radius: 100px;
  border: 1px solid #d0d0d0;
  background-color: transparent;
  cursor: pointer;
  margin-top: 24px;

  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;

  color: #d0d0d0;
  text-align: center;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button_sample_page01:hover {
  background: red;
  border: 1px solid red;
  color: #f8f8f8;
}

.left_division_sample_page {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.right_division_sample_page {
  display: flex;
  flex-direction: column;
}

.right_division_sample_page > img {
  width: 468px;
  height: 289px;
}

.right_division_sample_page2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -200px;
  top: 50px;
}

.right_division_sample_page2 > img {
  /* width: 490px; */
  height: 60vh;
  flex-shrink: 0;
  position: absolute;
  right: 200px;
}

/* personalized section -------- */

.personalized_section_sample_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  gap: 40px;
}

.personalized_section_sample_page > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalized_section_sample_page > div > img {
  width: 20vw;
}

.personalized_section_sample_page > div > img:nth-child(3) {
  z-index: 99;
  position: relative;
}

.personalized_section_sample_page > div > img:nth-child(4) {
  z-index: 9;
  position: relative;
}

/* SHaring section --------- */

.sharing_section_sample_page {
  width: 78vw;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
}

.sharing_section_sample_page > img {
  /* width: 490px; */
  height: 60vh;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
}

.sharing_section_sample_page > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  gap: 10px;
}

/* extra section ----------------- */

.extra_section_sample_page {
  width: 78vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

.extra_section_sample_page > h3 {
  color: #fff;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.button_event_landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  margin-top: 30px;
}

.button_event_landing > button {
  display: inline-flex;
  padding: 24px 40px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;

  color: #fff;
  text-align: center;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button_event_landing > button:hover {
  background-color: red;
  border: 1px solid red;
  color: #f8f8f8;
}

.button_event_landing > span {
  color: #d0d0d0;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media screen and (max-width: 600px) {
  .sample_page_wrapper {
    scroll-behavior: unset;
    scroll-snap-type: none;
  }

  .sample_page_wrapper::-webkit-scrollbar {
    display: none;
  }

  .benefits_sample_page > h2 {
    font-size: 24px;
    width: 90vw;
    margin: unset;
  }
  .benefits_sample_page {
    gap: 60px;
    background: #161616;
    height: 100vh;
    padding: 30px 0;
    box-sizing: border-box;
    justify-content: space-evenly;
  }
  .header_sample_page01 {
    font-size: 24px;
    text-align: center;
  }
  .benefits_sample_page > section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    gap: 60px;
    justify-content: space-evenly;
  }
  .header_sample_page02 {
    font-size: 16px;
    max-width: unset;
    text-align: center;
    width: 80%;
  }
  .left_division_sample_page {
    width: 98%;
    gap: 12px;
    align-items: center;
    /* margin-bottom: 40px; */
  }
  .button_sample_page01 {
    padding: 12px 20px;
    font-size: 16px;
    margin: unset;
    /* position: absolute;
    bottom: 40px; */
  }
  .right_division_sample_page {
    display: flex;
  }
  .personalized_section_sample_page {
    gap: 123px;
    margin-bottom: unset;
    height: 50vh;
    background: #161616;
    position: relative;
    padding: 70px 0;
    flex-direction: column-reverse;
  }
  .right_division_sample_page > img {
    height: 161px;
    width: unset;
  }

  .sample_page_divison_section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    height: 100vh;
    padding: 40px 0;
    justify-content: space-evenly;
    gap: 80px;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; */
  }

  .right_division_sample_page2 {
    position: unset;
  }

  .right_division_sample_page2 > img {
    height: 210px;
    transform: scale(1.5);
    position: unset;
  }

  .sharing_section_sample_page {
    display: flex;
    flex-direction: column;
    gap: 90px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100vw;
    position: relative;
    padding: unset;
    height: 97vh;
    padding: 30px 0;
    box-sizing: border-box;
    margin: unset;

  }


  .sharing_section_sample_page > img {
    position: unset;
    height: 250px;
    /* margin: 29px 0; */
  }

  .personalized_section_sample_page > div > img {
    width: 30vw;
  }

  .personalized_section_sample_page > section {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .extra_section_sample_page > h3 {
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 24px;
    width: 88vw;
    text-align: center;
  }
  .extra_section_sample_page {
    align-items: center;
    padding: 40px 0;
    width: 100%;
    background: #161616;
    position: relative;
  }
  .sharing_section_sample_page > div {
    text-align: center;
    gap: 12px;
    width: 78%;
    align-items: center;
  }
  .sample_page_wrapper > span {
    display: flex;
    width: 100%;
    height: 0.3px;
    background: #666;
  }

  .button_event_landing > button {
    font-size: 16px;
    padding: 16px 20px;
  }

  .button_event_landing > span {
    font-size: 12px;
  }

  .arrow_button_sample_page {
    bottom: 100px;
  }


  .productHunt_floater_landing_page{
    right: 20px;
    bottom: 20px;
  }

}
