.personalinfo_wrap {
  margin-left: 6%;
  padding-top: 3%;
  margin-right: 6%;
}

.personalinfo_top {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 4vh;
  position: relative;
  width: 100%;
}
.personalinfo_top span {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.personalinfo_photosection {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 4vh;
}
.personalinfo_buttonupload {
  background-color: black;
  color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.personalinfo_photocontainer {
  display: flex;
  gap: 2vw;
  justify-content: flex-start;
  align-items: baseline;
  height: 110px;
}
.personalinfo_photo {
  width: 110px;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}

.personalinfo_formwrap {
  gap: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.perosnalinfo_leftform {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 47%;
}

.perosnalinfo_leftform > div {
  margin-bottom: 30px;
}
.perosnalinfo_rightform {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 47%;
}
.perosnalinfo_rightform > div {
  margin-bottom: 30px;
}

.personalinfo_aboutme {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 5vh;
}

.personalinfo_aboutmeinput {
  width: 98%;
  height: 140px;
  background-color: white;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.219);
  padding: 15px;
  resize: none;
}

.personalinfo_aboutmeinput:focus {
  outline: #2196f3 solid 1px;
}
.personalinfo_linebreak {
  width: 100%;
  height: 2px;
  background-color: #00000033;
  margin-bottom: 5vh;
}
.personalinfo_socialwrap {
  width: 60%;
}
.personalinfo_socialwrap svg {
  padding-top: 15px;
}
.personalinfo_socialwrap span {
  padding-top: 10px;
}
.personalinfo_socialwrap h2 {
  margin-bottom: 5vh;
}
.personalinfo_sociallinks {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.1fr;
  gap: 2vw;
  margin-bottom: 2vh;
}
.profileinfo_imagec {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.personalinfo_savebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  padding-bottom: 5vh;
}
.personalinfo_savebutton button {
  background-color: black;
  color: white;
  padding: 10px 22px 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.edit_profile_sample_page_button {
  padding: 12px 24px;
  color: #1e293b;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 4px;
  border: 1px solid #1e293b;
  background-color: white;
  position: absolute;
  right: 0px;
}

.edit_profile_sample_page_button:hover {
  background-color: rgb(237, 237, 237);
}

/* Modals csss ------- */

.outside_wrapper_earning {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #4f4e4e63;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp_main_container_earning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;

  width: 480px;
  height: 396px;

  background: #282828;
  border-radius: 10px;
}

.otp_main_container_earning h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.outside_wrapper_earning input::placeholder {
  color: #707070;
  font-size: 16px;
}

.otp_main_container_earning > section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}

.otp_main_container_earning input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 10px;

  width: 360px;
  height: 54px;

  border: 1px solid #707070;
  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.otp_main_container_earning input:focus {
  outline: none;
}

.otp_main_container_earning > button {
  padding: 12px 40px;
  gap: 10px;
  box-sizing: border-box;

  border-radius: 40px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 8px 0px rgba(31, 31, 31, 0.1);
  background-color: transparent;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;

  color: #ffffff;
}


.otp_main_container_earning > button:hover{
  background-color: #f00;
  border: 1px solid #f00;
}
