.usereview_details {
  display: flex;
  gap: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  -webkit-user-select: none;
}

.userreview_detail1 {
  width: 17%;
  border-radius: 10px;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  gap: 20%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
}
.userreview_detail_svg {
  background: #ececf0;
  padding: 10px 10px 6px 10px;
  border-radius: 6px;
}
.userreview_detailedno h3 {
  padding-top: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;

  color: #000000;
}

.userreview_detailedno span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.3);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* dummy data CTA--------------------------- */

.cta_dummy_data {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.cta_dummy_data > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 18px;
}

.cta_dummy_data > button{
    width: 268px;
height: 42px;
}
